body {
  background-color: #EBF4F6;
}

nav {
  background-color: #EBF4F6;
  width: 100vw; /* Ancho completo de la pantalla */
  height: 60px; /* Altura de la navbar */
  padding: 10px 20px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); /* Sombra debajo de la navbar */
  position: fixed; /* Navbar fija */
  top: 0;
  left: 0;
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}


.content {
  padding: 20px;
}

.tituloNavBar {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 10px;
}

.fontDarkBlue{
  color: #0B192C;
}

.fontLightBlue{
  color: #B9E5E8;
}
  
  .botones {
    background-color: #0B192C;
    border: 0.5px solid #B9E5E8;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  }
  .botones:hover {
    background-color: #4A628A;
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  }

  .botonReset {
    background-color: #0B192C;
    border: 0.5px solid #B9E5E8;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  }
  .botonReset:hover {
    background-color: #4A628A;
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  }

  .fredokaBold {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .fredokaSemiBold {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .fredoka {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .content {
    padding: 10px; /* Reduce el padding */
    margin-top: 80px; /* Ajusta el margen superior para no solaparse con la navbar */
  }
  .open {
    background-color: #4A628A;
    border-radius: 10px; /* Bordes redondeados más pequeños */
    padding: 15px;
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra más pequeña */
  }
  
  .cardInfo {
    background-color: #4A628A;
    border-radius: 10px; /* Bordes redondeados más pequeños */
    padding: 10px; /* Reduce padding */
    margin: 5px; /* Reduce margen */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15); /* Sombra más pequeña */
  }
  
  .justificado {
    text-align: justify;
    margin-left: 5%; /* Reducir márgenes laterales */
    margin-right: 5%;
    line-height: 1.4; /* Reduce el interlineado */
  }
.gatoPrincipal{
  width: 250px;
  height: 250px;
  position: absolute;
  top: 70px;
  left: 640px;
}
.gatoInformacion{
  background-image: url("../../../static/img/gato2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 190px;
}