<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdn.tailwindcss.com">
  <title>Ayuda</title>
</head>

<body>
  <!-- Extensión de la Navbar -->
  {% extends 'NavBar.html' %}

  {% block contenido %}
  <section class="mx-auto max-w-2xl py-10 sm:py-10 lg:py-10 grid grid-cols-2 gap-4 cards-container">
    <div class="cardInfo text-center">
      <h1 class="fredokaBold fontColorBeige sm:text-4xl">Información Personal</h1>
      <!-- <p class="fredoka text-white py-5">Desarrollado por: Bryan Alejandro Anona Paredes.</p>
        <p class="fredoka text-white">Carnet: 202307272</p> -->
      <div class="flex items-center justify-center gap-x-6">
        <a href="https://github.com/akthaly" class="text-white fredokaSemiBold botones">Información</a>
      </div>
    </div>
    <div class="cardInfo text-center">
      <h1 class="fredokaBold fontColorBeige sm:text-4xl">Información en Documentación</h1>
      <!-- <p class="fredoka text-white py-5">Esta aplicación fue desarrollada utilizando tanto Flask, HTML, Python y Tailwind.</p> -->
      <div class="flex items-center justify-center gap-x-6">
        <a href="https://drive.google.com/file/d/1hIGaD_Q3a9iHMxHidp8ErzRglDN2udTK/view?usp=sharing"
          class="text-white fredokaSemiBold botones">Documentación</a>
      </div>
    </div>
  </section>

  {% endblock %}

</body>

</html>