<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.tailwindcss.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <title>Home</title>
</head>
<body>
    {% extends 'NavBar.html' %}

    {% block contenido %}
    <div class="body flex items-center justify-center">
        <div class="open flex flex-col items-center justify-center">

            <h2 class="fredokaBold fontColorBeige text-2xl">Cargue el archivo XML de entrada</h2>
            <form action="/datos" method="POST" enctype="multipart/form-data" class="space-y-4 flex flex-col items-center">
                <div class="w-full ">
                    <label class="py-2 block fredoka fontColorBeige" for="file"></label>
                    <input type="file" id="file" name="file" class="mt-1 block w-full text-sm text-gray-900 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 body fredoka ">
                </div>
                <button type="submit" class="botones fredoka text-white">
                    Subir Archivo
                </button>
            </form>
        </div>
    </div>

    {% endblock %}
</body>

</html>